<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/user_bookings.css">
    <script src="../static/scripts/status-parameters.js" defer></script>
    <script src="../static/scripts/user_bookings.js" defer></script>
    <title>Booking Information</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>

<div class="container">
    <h1>Recent Booking:</h1>

    <div class="booking-details"></div>

    <h1>All Your Bookings:</h1>
    <div class="user-bookings"></div>
</div>
</body>
</html>
