<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Booking Information</title>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Recent Booking:</h1>
        <div class="booking-details card mb-4 shadow-lg">

        </div>
        <h1 class="text-center mb-4">All Your Bookings:</h1>
        <div class="user-bookings card mb-4 shadow-lg">

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../static/scripts/status-parameters.js"></script>
    <script src="../static/scripts/user_bookings.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
